variables:
  DOCKER_HOST: tcp://docker:2375/
  QUANTUM_CLI: registry.internal.planetary-networks.de/quantum-public/cli:2
  QUANTUM_ENDPOINT: tpwd-klimadashboard 
  STACK: data-tools 

stages:
  - build
  - deploy

services:
  - docker:19.03.0-dind

before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY

build:
  stage: build
  variables:
    IMAGE: $CI_REGISTRY_IMAGE
    DOCKERFILE: Dockerfile
  script:
    - docker pull $IMAGE || true
    - docker build --cache-from $IMAGE --tag $IMAGE:$CI_COMMIT_SHA --tag $IMAGE -f $DOCKERFILE .
    - docker push $IMAGE:$CI_COMMIT_SHA
    - docker push $IMAGE
  only:
    - main
  rules:
    - changes:
      - settings.js
      - Dockerfile
      - entrypoint.sh


deploy:
  stage: deploy
  tags:
    - gitlab-drone
  image: $QUANTUM_CLI
  cache:
    key: "${CI_PIPELINE_ID}"
    paths:
      - docker-compose.yml
  script:
    - quantum-cli stack update --create --wait --stack $STACK
  only:
    - main

