version: "3.7"

services:
  node-red-main:
    image: ghcr.io/klima-dashboard/data-tools:node-red-michendorf
    environment:
      - TZ=Europe/Amsterdam
      - ADMIN_PASSWORD=$$2b$$08$$v8d1BR/rftGMP6969SHnHO5wWNGirMJxRuKQ28wxPs56nc7A79r0G
      - REDIRECT_URI=https://node-red.michendorf.klima-daten.de/auth/strategy/callback
    networks:
      public:
      data-tools:
    volumes:
      - node-red-data:/data
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        traefik.http.routers.node-red-michendorf.rule: Host(`node-red.michendorf.klima-daten.de`)
        traefik.http.routers.node-red-michendorf.tls: "true"
        traefik.http.routers.node-red-michendorf.tls.certresolver: default
        traefik.docker.network: public
        traefik.http.services.node-red-michendorf.loadbalancer.server.port: 1880
        traefik.enable: "true"
    secrets:
      - node-red-credential-secret-michendorf
      - node-red-keycloak-client-secret-michendorf


  node-red-1:
    image: ghcr.io/klima-dashboard/data-tools:node-red-michendorf
    environment:
      - TZ=Europe/Amsterdam
      - ADMIN_PASSWORD=$$2b$$08$$v8d1BR/rftGMP6969SHnHO5wWNGirMJxRuKQ28wxPs56nc7A79r0G
      - REDIRECT_URI=https://node-red-1.michendorf.klima-daten.de/auth/strategy/callback
    networks:
      public:
      data-tools:
    volumes:
      - node-red-1-data:/data
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        traefik.http.routers.node-red-1-michendorf.rule: Host(`node-red-1.michendorf.klima-daten.de`)
        traefik.http.routers.node-red-1-michendorf.tls: "true"
        traefik.http.routers.node-red-1-michendorf.tls.certresolver: default
        traefik.docker.network: public
        traefik.http.services.node-red-1-michendorf.loadbalancer.server.port: 1880
        traefik.enable: "true"
    secrets:
      - node-red-credential-secret-michendorf
      - node-red-keycloak-client-secret-michendorf
      
  node-red-2:
    image: ghcr.io/klima-dashboard/data-tools:node-red-michendorf
    environment:
      - TZ=Europe/Amsterdam
      - ADMIN_PASSWORD=$$2b$$08$$v8d1BR/rftGMP6969SHnHO5wWNGirMJxRuKQ28wxPs56nc7A79r0G
      - REDIRECT_URI=https://node-red-2.michendorf.klima-daten.de/auth/strategy/callback
    networks:
      public:
      data-tools:
    volumes:
      - node-red-2-data:/data
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        traefik.http.routers.node-red-2-michendorf.rule: Host(`node-red-2.michendorf.klima-daten.de`)
        traefik.http.routers.node-red-2-michendorf.tls: "true"
        traefik.http.routers.node-red-2-michendorf.tls.certresolver: default
        traefik.docker.network: public
        traefik.http.services.node-red-2-michendorf.loadbalancer.server.port: 1880
        traefik.enable: "true"
    secrets:
      - node-red-credential-secret-michendorf
      - node-red-keycloak-client-secret-michendorf
      
  node-red-3:
    image: ghcr.io/klima-dashboard/data-tools:node-red-michendorf
    environment:
      - TZ=Europe/Amsterdam
      - ADMIN_PASSWORD=$$2b$$08$$v8d1BR/rftGMP6969SHnHO5wWNGirMJxRuKQ28wxPs56nc7A79r0G
      - REDIRECT_URI=https://node-red-3.michendorf.klima-daten.de/auth/strategy/callback
    networks:
      public:
      data-tools:
    volumes:
      - node-red-3-data:/data
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        traefik.http.routers.node-red-3-michendorf.rule: Host(`node-red-3.michendorf.klima-daten.de`)
        traefik.http.routers.node-red-3-michendorf.tls: "true"
        traefik.http.routers.node-red-3-michendorf.tls.certresolver: default
        traefik.docker.network: public
        traefik.http.services.node-red-3-michendorf.loadbalancer.server.port: 1880
        traefik.enable: "true"
    secrets:
      - node-red-credential-secret-michendorf
      - node-red-keycloak-client-secret-michendorf


  influxdb:
    image: influxdb:2.5
    command: ["influxd", "--session-length=1440"]
    deploy:
      labels:
        traefik.http.routers.influxdb-michendorf.rule: Host(`influxdb.michendorf.klima-daten.de`)
        traefik.http.routers.influxdb-michendorf.tls: "true"
        traefik.http.routers.influxdb-michendorf.tls.certresolver: default
        traefik.docker.network: public
        traefik.http.services.influxdb-michendorf.loadbalancer.server.port: 8086
        traefik.enable: "true"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_ORG=smart-village
      - DOCKER_INFLUXDB_INIT_BUCKET=node-red
      - DOCKER_INFLUXDB_INIT_USERNAME=influxdb-user
      - DOCKER_INFLUXDB_INIT_RETENTION=4w
      - DOCKER_INFLUXDB_INIT_PASSWORD_FILE=/run/secrets/influxdb-password-michendorf
    networks:
      public:
      data-tools:
    volumes:
      - influxdb-data:/var/lib/influxdb2
    secrets:
      - influxdb-password-michendorf
      - influxdb-admin-token-michendorf

  grafana:
    image: ghcr.io/klima-dashboard/data-tools:grafana-michendorf
    deploy:
      labels:
        traefik.http.routers.grafana-michendorf.rule: Host(`grafana.michendorf.klima-daten.de`)
        traefik.http.routers.grafana-michendorf.tls: "true"
        traefik.http.routers.grafana-michendorf.tls.certresolver: default
        traefik.docker.network: public
        traefik.http.services.grafana-michendorf.loadbalancer.server.port: 3000
        traefik.enable: "true"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/grafana-admin-password-michendorf
    networks:
      public:
      data-tools:
    volumes:
      - grafana-data:/var/lib/grafana
    secrets:
      - grafana-admin-password-michendorf
      - grafana-keycloak-client-secret-michendorf

volumes:
  node-red-data:
  node-red-1-data:
  node-red-2-data:
  node-red-3-data:
  influxdb-data:
  grafana-data:
secrets:
  influxdb-password-michendorf:
    external: true
  influxdb-admin-token-michendorf:
    external: true
  grafana-admin-password-michendorf:
    external: true
  node-red-credential-secret-michendorf:
    external: true
  node-red-keycloak-client-secret-michendorf:
    external: true
  grafana-keycloak-client-secret-michendorf:
    external: true

networks:
  public:
    external: true
  data-tools:
