name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main 
    paths:
      - 'Dockerfile.grafana'
      - 'grafana.ini'

jobs:
  build-grafana:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v2
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        - run: >-
            docker build .
            -f Dockerfile.grafana
            -t ghcr.io/klima-Dashboard/data-tools:latest .
        - run: docker push ghcr.io/Klima-Dashboard/data-tools:latest